<main id="content" class="page about">
	<header class="cover">
		<svg viewBox="0 0 100 65">
			<path d="M60,26v20H40V26H60 M61,25H39v22h22V25z"/>
			<rect x="42" y="30" width="16" height="1"/>
			<rect x="42" y="33" width="16" height="1"/>
			<rect x="42" y="36" width="16" height="1"/>
			<!--
				<path d="M39,53v20H19V53H39 M40,52H18v22h22V52z"/>
				<path d="M81,53v20H61V53H81 M82,52H60v22h22V52z"/>
			-->
			<rect x="39" y="48" width="22" height="1"/>
			<rect x="18" y="50" width="64" height="1"/>
		</svg>
	</header>
	<article class="page about" data-base="#6f6f6f" data-highlight="#555">
		<p>Here is my take on the homework assignment for the 2018 <a href="http://www.ecal.ch/en/1084/studies/bachelor/fine-arts/presentation">bachelor of fine arts</a>' admission process of the <a href="http://www.ecal.ch/en/100/homepage">&#233;cal school of arts</a>.</p>

		<figure>
			<img src="/assets/img/other/ecal/clearuined2.gif">
			<figcaption>The first version.</figcaption>
		</figure>

		<!-- TODO: replace this old bogus text with meaningful explanations, maybe what the assignment was and the bruce nauman quote or so.
			<p>My original plans called for something pretty ambitious and very cheesy: this sort of light metaphor with canvas that would 'illuminate' various sections of the site to traverse. It was meant to be an allusion to my past as a photographer, if you'll believe that.</p>
		-->
		<figure>
			<img src="/assets/img/other/ecal/skizze7.gif">
			<figcaption>A more fleshed out version of the neon-like animation.</figcaption>
		</figure>
		
		<!--
		<p>The approach I had with this site was to create an experience, as alluded in the notes tucked away in these photographs, that was entirely comunicable though iconography.</p>

		<p>In a grand defiance with what the web was meant for, I aimed at creating a site that needn't any translation, where text was just set dressing for the main event.</p>

		<p>The icons are here too inspired by camera markings and circuit diagrams, both of fields I deeply associate with and enjoy.</p>

		<p>Quite the adventure, isn't it?</p>

		<p>This site is built using the now-abandoned static site generator <a href="http://harpjs.com">harp</a>. Thankfully, it still works! I can write all my pages in markdown, or ejs, jade, stylus and a bunch of other preprocessors. I compile the whole thing into a folder and bingo. The entire site in a folder. No live anything.</p>

		<p>The idea to go for a static site build was mostly born of curiosity, and I'd also grown a little tired with the needless complexity introduced by wordpress as a CMS for something so simple as a portfolio site.</p>

		<p>I miss the front-end, but hey.</p>

		<p>The rest of the design process is right here! You're looking at it. Nothing is hidden, and the code itself lives in a <a href="https://github.com/stockhuman/internaut">little repo</a> on Github.</p>
		-->
	</article>
	


	<style type="text/css">
		#nav-main {
			color: white !important;
			animation: opacityfade 110s;
			-webkit-animation: opacityfade 110s;
			animation-iteration-count: infinite;
		}
		#nav-inner {
			animation: colorchange 50s; 
			-webkit-animation: colorchange 50s;
			animation-iteration-count: infinite;
		}

		@keyframes colorchange
		{
			0%   {background: red;}
			25%  {background: yellow;}
			50%  {background: blue;}
			75%  {background: green;}
			100% {background: red;}
		}

		@-webkit-keyframes colorchange {
			0%   {background: red;}
			25%  {background: yellow;}
			50%  {background: blue;}
			75%  {background: green;}
			100% {background: red;}
		}

		@keyframes opacityfade
		{
			0%   {opacity: 1;}
			25%  {opacity: 0.95;}
			50%  {opacity: 0.75;}
			75%  {opacity: 0.99;}
			100% {opacity: 1;}
		}
		@-webkit-keyframes opacityfade
		{
			0%   {opacity: 1;}
			25%  {opacity: 0.95;}
			50%  {opacity: 0.75;}
			75%  {opacity: 0.99;}
			100% {opacity: 1;}
		}
	</style>

</main>
