#transitioner {
	position: fixed;

	z-index: map-get($z-index, 'nav');
	background: $white; // change for currentColor?

	transition-property: transform;
	transition-duration: .31s;
	transform-origin: 100% 100%;

	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	-webkit-transform: scaleX(0);
		 -moz-transform: scaleX(0);
			-ms-transform: scaleX(0);
			 -o-transform: scaleX(0);
					transform: scaleX(0);

	display: none;
	@include media('>tablet') {
		display: block;
	}
}

.is-exiting {
	#transitioner {
		-webkit-transform: scaleX(1);
			 -moz-transform: scaleX(1);
				-ms-transform: scaleX(1);
				 -o-transform: scaleX(1);
						transform: scaleX(1);
	}
}

#nav-main {
	color: white !important;
	animation: opacityfade 110s;
	-webkit-animation: opacityfade 110s;
	animation-iteration-count: infinite;
}
#nav-inner {
	animation: colorchange 50s; 
	-webkit-animation: colorchange 50s;
	animation-iteration-count: infinite;
}

@keyframes colorchange
{
	0%   {background: rgb(41, 47, 53);} //grey
	25%  {background: rgb(41, 47, 53);} //grey
	50%  {background: blue;} //blue
	70%  {background: rgb(1, 68, 33);} //green
	90%  {background: rgb(141, 47, 53);}// dark red
	100% {background: rgb(41, 47, 53);} //grey
}

@-webkit-keyframes colorchange {
	0%   {background: rgb(41, 47, 53);} //grey
	25%  {background: rgb(41, 47, 53);} //grey
	50%  {background: blue;} //blue
	70%  {background: rgb(1, 68, 33);} //green
	90%  {background: rgb(141, 47, 53);}// dark red
	100% {background: rgb(41, 47, 53);} //grey
}

@keyframes opacityfade
{
	0%   {opacity: 1;}
	25%  {opacity: 0.99;}
	50%  {opacity: 0.9;}
	75%  {opacity: 0.99;}
	100% {opacity: 1;}
}
@-webkit-keyframes opacityfade
{
	0%   {opacity: 1;}
	25%  {opacity: 0.99;}
	50%  {opacity: 0.9;}
	75%  {opacity: 0.99;}
	100% {opacity: 1;}
}